
<div class="top">
    <div class="container">
    <!--<div class="container" style="background-color: #7ec3de;">-->
        <div class="row d-flex align-items-center">
            <div class="col">
                <p class="social d-flex">
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="https://twitter.com/"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
                    <a href="#"><span class="icon-pinterest"></span></a>
                </p>
            </div>

            <div style="font-size:32px;">
                <span>Otthon Budán Ingatlaniroda</span>
            </div>

            <div class="col d-flex justify-content-end">
                <p class="num"><span class="icon-phone"></span> +36 20 1234567</p>
            </div>
        </div>
    </div>
</div>